:root {
  display: contents;
}

.paper {
  transform-origin: 0%;
}

.close .paper {
  transform: translateY(0%);
  transition: transform 0.4s ease;
  z-index: 1;
}

.open .paper {
  transform: translateY(-80%);
  transition: transform 0.4s 0.4s ease;
  z-index: 1;
}

.flap {
  transform-origin: top;
  z-index: 12;
}

.open {
  --envelop-translate: 5rem;
}

.flap {
  z-index: 30;
}

.close .flap {
  transform: rotatex(0deg);
  transition:
    transform 0.4s 0.6s ease,
    z-index 0.4s 0.6s;
  z-index: 30;
}

.open .flap {
  transform: rotatex(180deg);
  transition:
    transform 0.4s ease,
    z-index 0.4s;
  z-index: 0;
}

.envelope-flap {
  transform-origin: 0%;
}

.close .envelope-flap {
  transform: translateY(0%);
  transition: transform 0.4s ease;
}

.open .envelope-flap {
  transform: translateY(calc(var(--envelop-translate) * -1));
  transition: transform 0.4s 0.4s ease;
}

.envelope-body {
  transform-origin: 0%;
}

.close .envelope-body {
  transform: translateY(0%);
  transition: transform 0.4s ease;
}

.open .envelope-body {
  transform: translateY(var(--envelop-translate));
  transition: transform 0.4s 0.4s ease;
}
